{{ define "main" }}
  <div class="relative overflow-hidden bg-white">
    <div class="max-w-3xl px-4 mx-auto sm:px-6 xl:max-w-5xl xl:px-0">
      <header class="pt-6 xl:pb-6">
        <div class="space-y-1 text-center">
          <dl class="space-y-10">
            <div>
              <dt class="sr-only">Published on</dt>
              <dd class="text-base font-medium leading-6 text-gray-500">
                <time datetime="{{ .Date }}">
                  {{ .Date | time.Format ":date_full" }}
                </time>
              </dd>
            </div>
          </dl>
          <div>
            <h1
              class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 sm:text-4xl sm:leading-10 md:text-5xl md:leading-14">
              {{ .Title }}
            </h1>
          </div>
        </div>
      </header>

      <div class="pt-10 pb-8 prose max-w-none">
        {{ .Content }}
      </div>

      <footer class="text-sm font-medium leading-5 divide-gray-200 xl:divide-y">
        {{ with .PrevInSection }}
          <div>
            <h2 class="text-xs tracking-wide text-gray-500 uppercase">
              Previous Article
            </h2>
            <div class="text-pink-500 hover:text-pink-600">
              <a class="previous" href="{{ .RelPermalink }}"> {{ .Title }}</a>
            </div>
          </div>
        {{ end }}
        {{ with .NextInSection }}
          <div>
            <h2 class="text-xs tracking-wide text-gray-500 uppercase">
              Next Article
            </h2>
            <div class="text-pink-500 hover:text-pink-600">
              <a class="next" href="{{ .RelPermalink }}"> {{ .Title }}</a>
            </div>
          </div>
        {{ end }}
      </footer>
    </div>
  </div>
{{ end }}
