<nav
  class="relative mx-auto mt-8 flex max-w-7xl items-center justify-between px-4 sm:px-6">
  <div class="flex flex-1 items-center">
    <div class="flex w-full items-center justify-between md:w-auto">
      <a href="/">
        {{ $image := resources.Get "images/logo.2.clip.png" }}
        {{ $image := $image | fingerprint }}
        {{ with $image }}
          <img
            width="{{ .Width }}"
            height="{{ .Height }}"
            src="{{ .RelPermalink }}"
            alt="Batteries Included"
            class="m-1 h-8 w-auto" />
        {{ end }}

      </a>
    </div>
    <div class="ml-10 block space-x-10">
      <a href="/" class="font-medium text-gray-500 hover:text-gray-900"
        >Product</a
      >
      <a href="/posts" class="font-medium text-gray-500 hover:text-gray-900"
        >Posts</a
      >
    </div>
  </div>
</nav>
