.elixir_ls
.git
.gitconfig
.gitignore
.gnupg
.hex
.mix
.env

.devcontainer
.vscode
.vscode-server

.dockerignore
.earthignore

node_modules
deps
_build
build
tmp

ecs
deploy
container

artifacts

erl_crash.dump

Dockerfile

/app/control_server_web/priv/static/
/app/home_base_web/priv/static/
