---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
  - package-ecosystem: npm
    directory: "/platform_umbrella/apps/common_ui/assets"
    schedule:
      interval: daily
  - package-ecosystem: npm
    directory: "/platform_umbrella/apps/control_server_web/assets"
    schedule:
      interval: daily
  - package-ecosystem: npm
    directory: "/platform_umbrella/apps/home_base_web/assets"
    schedule:
      interval: daily
  - package-ecosystem: npm
    directory: "/project_templates/pastebin-go/assets"
    schedule:
      interval: daily
  - package-ecosystem: npm
    directory: "/static/"
    schedule:
      interval: daily
