$pink: #fc408a;
$teal: #22a4b6;
$green: #af9e15;
$orange: #ec7d18;
$indigo: #7164f8;
$blue: #377af7;
$primary: $pink;
$secondary: $teal;
// Set the font size higher
$font-size-base: 1.1rem;
@import "./node_modules/bootstrap/scss/bootstrap";
.index-main {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(1, 0, 0, 0.88), rgba(0, 0, 0, 0.88)), url("/img/martin-adams-a_PDPUPuNZ8-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    vertical-align: middle;
    position: relative;
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
    }
}