export KERL_CONFIGURE_OPTIONS="--without-javac --without-wx --without-odbc"
export KERL_BUILD_DOCS="yes"
export ERL_AFLAGS="-kernel shell_history enabled"

export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"
export LANGUAGE="en_US:en"

export ASDF_GOLANG_MOD_VERSION_ENABLED=false

ROOT_DIR=$(cd "$(dirname "${BASH_SOURCE[0]}")" &>/dev/null && pwd -P)
export PATH="$ROOT_DIR/bin:$PATH"

# Call bix go-clean-build to make sure that there aren't too many
# bi builds left lying around.
bix go clean-build

dotenv_if_exists .env
