# Local elixir/hex/mix dirs
.nix-mix
.nix-hex
.nix-elixir.cache
.flock
platform_umbrella/**/.iex.exs
platform_umbrella/.dialyzer

# Local cargo dirs
.nix-cargo

# local go dirs
.nix-go

# lockfiles
.nix-lock

# npm makes a copy of the javascript world here.
# don't look inside you'll cry
node_modules
dist

# Python
.venv
.direnv/
.env

# macOS
.DS_Store

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# The output link from the last time nix built
result

_tmp

wg0.conf

# Flock lock files for bin/bix
.flock
