[submodule "control_server_umbrella/apps/control_server/priv/kube-prometheus"]
	path = control_server_umbrella/apps/control_server/priv/kube-prometheus
	url = https://github.com/prometheus-operator/kube-prometheus.git
	branch = release-0.7
[submodule "control_server_umbrella/apps/control_server/priv/postgres-operator"]
	path = control_server_umbrella/apps/control_server/priv/postgres-operator
	url = https://github.com/zalando/postgres-operator.git
