# Local elixir/hex/mix dirs
.nix-mix
.nix-hex

# Local cargo dirs
.nix-cargo

# Sssssshhhhh
ops/aws/keys/*
!ops/aws/keys/keys-to-generate

# npm makes a copy of the javascript world here.
# don't look inside you'll cry
node_modules
# Python
.venv
.direnv/
.env

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# The output link from the last time nix built
result

_tmp
