**/deps/
**/_build/
**/cover/
cli/Cargo.lock
platform_umbrella/apps/kube_resources/priv/
.elixir_ls

books/

ops/

static/public/
static/resources/_gen/

**/assets/node_modules
**/package-lock.json

.sl/
.jj/
