**/deps/
**/_build/
**/cover/
**/node_modules/
**/target/
**/.elixir_ls/

platform_umbrella/apps/control_server_web/assets/node_modules/
platform_umbrella/apps/home_base_web/assets/node_modules/
pastebin/node_modules/
static/node_modules/
platform_umbrella/.elixir_ls/

books/
ops/

package-lock.json
Cargo.lock

.sl/
.jj/
