actionlint 1.7.7
awscli     2.28.21
elixir     1.18.4-otp-27
erlang     27.3.4.2
golang     1.25.0
goreleaser 2.11.2
java       adoptopenjdk-21.0.7+6.0.LTS
kind       0.30.0
kubectl    1.33.4
maven      3.9.9
nodejs     23.10.0
python     3.12.9
shfmt      3.12.0
upx        5.0.2
yamllint   1.37.1
yq         4.47.1
