<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "stripe_subscription-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>
  <%= label f, :company %>
  <%= text_input f, :company %>
  <%= error_tag f, :company %>

  <%= label f, :stripe_subscription_id %>
  <%= text_input f, :stripe_subscription_id %>
  <%= error_tag f, :stripe_subscription_id %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
