---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content2 from '~/components/widgets/Content2.astro';
import InfoWidget from '~/components/widgets/InfoWidget.astro';
import StartBuild from '~/components/widgets/StartBuild.astro';
import VideoModal from '~/components/widgets/VideoModal';
import RecentPosts from '~/components/widgets/RecentPosts.astro';
import Image from '~/components/common/Image.astro';
export const prerender = true;

const metadata = {
  title:
    'Batteries Included: The ultimate platform for modern service development',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero>
    <Fragment slot="subtitle">The ultimate platform</Fragment>
    <Fragment slot="title">for modern service development.</Fragment>
    <Fragment slot="content">
      Launch your cloud infrastructure in seconds, no YAML required
    </Fragment>
    <div class="mt-12 mx-auto max-w-screen-md">
      <div class="flex justify-center">
        <VideoModal
          url="https://www.youtube.com/embed/4k8CGRuU8BE?si=b3FCJcE9t8GUz9cq"
          client:load>
          <button class="btn-fourth !w-full">
            <p class="flex-shrink-0">Watch the demo</p>
            <Image
              width={32}
              height={32}
              src="~/assets/images/icons/play-circle.svg"
              alt="play circle"
            />
          </button>
        </VideoModal>
      </div>
      <div class="mt-2 flex justify-center">
        <a href="https://home.batteriesincl.com/login" class="btn-fifth">
          <p class="flex-shrink-0">Get started</p>
        </a>
      </div>
      <div class="mt-12">
        <VideoModal
          url="https://www.youtube.com/embed/4k8CGRuU8BE?si=b3FCJcE9t8GUz9cq"
          client:load>
          <button class="aspect-video overflow-hidden group relative">
            <Image
              class="group-hover:blur-sm duration-300"
              src="~/assets/images/home/demo.png"
              alt="image modal"
            />
            <div
              class="absolute invisible opacity-0 group-hover:opacity-100 group-hover:visible top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 duration-300">
              <Image
                class="size-20"
                src="~/assets/images/icons/play-circle.svg"
                alt="play circle"
              />
            </div>
          </button>
        </VideoModal>
      </div>
    </div>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="One-click deployments with security, scale, and monitoring out of the box"
    items={[
      {
        title: 'Spin up a relational database system on any cloud or hardware',
        description:
          'Production-ready PostgreSQL that works with your existing stack. No config required.',
        icon: 'postgresql',
      },
      {
        title:
          'Deploy web services at the speed of your users with autoscaling',
        description:
          'Build and rollout your serverless apps with dynamic scaling and security. Choose private cloud or on-prem.',
        icon: 'kubernetes',
      },
      {
        title: 'Launch a self-hosted RAG stack for your next AI product',
        description:
          'Accelerate development cycles with intelligent automation. Focus on your core product while our platform handles repetitive tasks and integrations.',
        icon: 'aistack',
      },
    ]}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FAFAFA] dark:bg-transparent"></div>
    </Fragment>
  </Features>

  <!-- Content Widget **************** -->

  <Content2
    title="Spend less time on infra ops and more time on your product"
    classes={{ headline: 'mt-20 lg:mt-24 xl:mt-28 max-w-3xl' }}
    items={[
      {
        title: 'Advanced operational tools',
        description:
          'Empower your team with purpose-built tools for effortless monitoring and maintenance. Ensure high availability and performance with proactive monitoring and self-healing systems. ',
        link: '/solutions/sre_tools',
        image: {
          src: '~/assets/images/solutions/operational-tools/demo.png',
          alt: 'advanced operational tools',
        },
      },
      {
        title: 'Industry-leading security',
        description:
          'Manage critical security configurations effortlessly with our unified command center. Benefit from ubiquitous SSO, mesh networking, automated SSL, and flexible deployment options, all with dynamically updating permissions.',
        link: '/solutions/security',
        image: {
          src: '~/assets/images/solutions/security/demo.png',
          alt: 'industry leading security',
        },
      },
      {
        title: 'Efficiency with cost-effective scaling',
        description:
          'Leverage top-tier autoscaling to reduce waste and ensure efficient, cost-effective scaling for your applications - including pre-prod testing with blue/green canary deployments',
        link: '/solutions/web-deploy',
        image: {
          src: '~/assets/images/solutions/web-services/demo.png',
          alt: 'cost effective scaling',
        },
      },
    ]}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FAFAFA] dark:bg-transparent border-t">
      </div>
    </Fragment>
  </Content2>

  <InfoWidget
    title="Access best-in-class open source technologies, expertise not required"
    description="Batteries Included is built on a fully open-sourced stack, offering unmatched portability and the best-in-class technology without compromises. Our solutions adhere to industry standards out of the box, ensuring you can work and build the way you want, without being limited by your infrastructure."
    link="/posts/open-source-payoff"
  />

  <!-- Posts Widget ****************** -->
  <RecentPosts />

  <StartBuild />
</Layout>
