---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content2 from '~/components/widgets/Content2.astro';
import WhyOpenSource from '~/components/widgets/WhyOpenSource.astro';
import StartBuild from '~/components/widgets/StartBuild.astro';
import VideoModal from '~/components/widgets/VideoModal';
import RecentPosts from '~/components/widgets/RecentPosts.astro';
import Image from '~/components/common/Image.astro';
export const prerender = true;

const metadata = {
  title:
    'Batteries Included the fastest easiest to use open source infrastrucutre as a service platform',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero>
    <Fragment slot="subtitle">Modern Infrastructure</Fragment>
    <Fragment slot="title">for Ambitious Product Teams</Fragment>
    <Fragment slot="content">
      Finally, A Platform That Can Bring Any Product Idea To Life In Seconds.
      Batteries Included.
    </Fragment>
    <div class="mt-12 mx-auto max-w-screen-md">
      <div class="flex justify-center">
        <VideoModal
          url="https://www.youtube.com/embed/RVmMvNO2LUQ?si=8BakJI9Vot-whvKD"
          client:load>
          <button class="btn-fourth !w-full">
            <p class="flex-shrink-0">Watch the Demo</p>
            <Image
              width={32}
              height={32}
              src="~/assets/images/icons/play-circle.svg"
              alt="play circle"
            />
          </button>
        </VideoModal>
      </div>
      <div class="mt-12">
        <VideoModal
          url="https://www.youtube.com/embed/RVmMvNO2LUQ?si=8BakJI9Vot-whvKD"
          client:load>
          <button class="aspect-video overflow-hidden group relative">
            <Image
              class="group-hover:blur-sm duration-300"
              src="~/assets/images/home/demo.png"
              alt="image modal"
            />
            <div
              class="absolute invisible opacity-0 group-hover:opacity-100 group-hover:visible top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 duration-300">
              <Image
                class="size-20"
                src="~/assets/images/icons/play-circle.svg"
                alt="play circle"
              />
            </div>
          </button>
        </VideoModal>
      </div>
    </div>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Unleash the Power"
    title="with Our All-Inclusive Platform "
    subtitle="Our Fully Automated DevOps Platform Comes With Batteries Included, Giving You"
    items={[
      {
        title: 'AI Included ',
        description:
          'Easily integrate AI into any aspect of your product without the infrastructure headaches. Batteries handles the complex stuff so you can focus on building great ML features.',
        icon: 'ai',
      },
      {
        title: 'Efficiency Included ',
        description:
          'Shorten product cycles and get back to working on your core product. Don’t spend another sprint trying to fix compatibility issues with third party platforms.',
        icon: 'efficiency',
      },
      {
        title: 'Cost-Savings Included ',
        description:
          'Batteries offer a cost-effective, scalable solution with top-tier autoscaling to reduce waste, ensuring quick and efficient scaling at lower costs.',
        icon: 'cost',
      },
      {
        title: 'Security Included ',
        description:
          'Our infrastructure automates end-to-end security, deploying fixes and updates without any manual effort on your part.',
        icon: 'secure',
      },
      {
        title: 'Automation Included ',
        description:
          'Accelerate product cycles, focus on your core product, and avoid wasting sprints on third-party compatibility issues.',
        icon: 'automation',
      },
      {
        title: 'Reliability  Included ',
        description:
          'Adjusting databases to prevent crashes and implementing monitoring with automated solutions for quick issue resolution.',
        icon: 'reliability',
      },
    ]}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FAFAFA] dark:bg-transparent"></div>
    </Fragment>
  </Features>

  <!-- Content Widget **************** -->

  <Content2
    title="We Have Batteries For"
    classes={{ headline: 'mt-20 lg:mt-24 xl:mt-28' }}
    items={[
      {
        title: 'Databases',
        description:
          'Fully automated PostgreSQL that works with your existing stack. Because you need to store SQL data. Spin it up, back it up, scale it, change it, edit it – automatically. All without touching any config or CLI. Plus it works with your existing stack, with integrations for Redis, FerretDB, and Blob Storage',
        link: '/solutions/database',
        image: {
          src: '~/assets/images/home/databases.png',
          alt: 'databases image',
        },
      },
      {
        title: 'Web Services',
        description:
          'All the tools you need to build and operate virtually any kind of application or service in seconds - without compromising on security or stability. Push out new versions without headaches, and dynamically scale up and down with usage. We’ve built our platform on industry-standard open source code, so you get all the benefits with none of the headaches. Runs on any cloud, or your own machine',
        link: '/solutions/web-deploy',
        image: {
          src: '~/assets/images/home/web-services.png',
          alt: 'web services image',
        },
      },
      {
        title: 'Security',
        description:
          'A single command center to manage every mission critical security config quickly and easily without breaking stuff. With our platform, you get SSO everywhere you need it, mesh networking, security scanning, automated SSL, and the flexibility to run on any machine. Dynamic configurations mean all of your permissions are constantly updating synchronously, so nothing breaks, and everything stays secure',
        link: '/solutions/security',
        image: {
          src: '~/assets/images/home/security.png',
          alt: 'security image',
        },
      },
      {
        title: 'Machine Learning',
        description:
          'Batteries Included provides an integrated development environment to help your team get machine learning projects off the ground faster, and with better results. Prepare data, host models, and manage pipelines with ease. Our environment makes it easy to integrate machine learning projects into your team’s day-to-day, with space for notebooks, code, data, and more',
        link: '/solutions/ml',
      },
      {
        title: 'Operational Tools',
        description:
          'The Batteries Included platform is purpose-built to make life easier for Ops teams, with tools that make it easy to monitor and fix your software',
        link: '/solutions/sre_tools',
        image: {
          src: '~/assets/images/home/operational-tools.png',
          alt: 'operational tools image',
        },
      },
    ]}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FAFAFA] dark:bg-transparent border-t">
      </div>
    </Fragment>
  </Content2>

  <WhyOpenSource />
  <!-- Posts Widget ****************** -->
  <RecentPosts />
  <StartBuild />
</Layout>
