---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content2 from '~/components/widgets/Content2.astro';
import InfoWidget from '~/components/widgets/InfoWidget.astro';
import StartBuild from '~/components/widgets/StartBuild.astro';
import VideoModal from '~/components/widgets/VideoModal';
import RecentPosts from '~/components/widgets/RecentPosts.astro';
import Image from '~/components/common/Image.astro';
export const prerender = true;

const metadata = {
  title:
    'Batteries Included: The ultimate platform for modern service development',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero>
    <Fragment slot="subtitle">The ultimate platform</Fragment>
    <Fragment slot="title">for modern service development.</Fragment>
    <Fragment slot="content">
      Experience unparalleled flexibility and control. Build, deploy, and scale
      your projects with ease using our open-source, all-in-one solution.
    </Fragment>
    <div class="mt-12 mx-auto max-w-screen-md">
      <div class="flex justify-center">
        <VideoModal
          url="https://www.youtube.com/embed/RVmMvNO2LUQ?si=8BakJI9Vot-whvKD"
          client:load>
          <button class="btn-fourth !w-full">
            <p class="flex-shrink-0">Watch the demo</p>
            <Image
              width={32}
              height={32}
              src="~/assets/images/icons/play-circle.svg"
              alt="play circle"
            />
          </button>
        </VideoModal>
      </div>
      <div class="mt-12">
        <VideoModal
          url="https://www.youtube.com/embed/RVmMvNO2LUQ?si=8BakJI9Vot-whvKD"
          client:load>
          <button class="aspect-video overflow-hidden group relative">
            <Image
              class="group-hover:blur-sm duration-300"
              src="~/assets/images/home/demo.png"
              alt="image modal"
            />
            <div
              class="absolute invisible opacity-0 group-hover:opacity-100 group-hover:visible top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 duration-300">
              <Image
                class="size-20"
                src="~/assets/images/icons/play-circle.svg"
                alt="play circle"
              />
            </div>
          </button>
        </VideoModal>
      </div>
    </div>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Unmatched Capabilities"
    title="Your all-inclusive, source-available deployment solution"
    subtitle="Experience a secure and flexible platform that puts you in control."
    items={[
      {
        title: 'Open-Source Transparency',
        description:
          'Built on open-source, with all of our code publicly available. Audit, modify, and trust the code that powers your infrastructure.',
        icon: 'document',
      },
      {
        title: 'Advanced Web Services',
        description:
          'Deploy from Docker to Knative with SSL, easier than ever. Get superior service on your own hardware thanks to our hands-off workflow.',
        icon: 'checkoutline',
      },
      {
        title: 'Automation Built-In',
        description:
          'Accelerate development cycles with intelligent automation. Focus on your core product while our platform handles repetitive tasks and integrations.',
        icon: 'automation',
      },
      {
        title: 'Unparalleled Security',
        description:
          'Our infrastructure automates end-to-end security, deploying fixes and updates without any manual effort on your part. Run on your own hardware for ultimate data privacy.',
        icon: 'secure',
      },
      {
        title: 'Reliability Guaranteed',
        description:
          'Ensure high availability and performance with proactive monitoring and self-healing systems. Minimize downtime and maximize user satisfaction.',
        icon: 'reliability',
      },
      {
        title: 'State-of-the-Art AI',
        description:
          'Utilize our fully open-source RAG stack for all your AI needs, including LLama 3.1 and vector databases, all on your own hardware.',
        icon: 'ai',
      },
      {
        title: 'Effortless SSO Integration',
        description:
          "Experience the world's easiest SSO onboarding process -- in minutes you could have a fully functional OAuth UI application using PostgreSQL and SSL.",
        icon: 'magic',
      },
      {
        title: 'Cost-Effective Scaling',
        description:
          'Leverage top-tier autoscaling to reduce waste and ensure efficient, cost-effective scaling for your applications.',
        icon: 'cost',
      },
      {
        title: 'Efficiency Optimized',
        description:
          'Streamline your workflow and eliminate bottlenecks. Our platform ensures you spend less time on infrastructure and more on innovation.',
        icon: 'efficiency',
      },
    ]}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FAFAFA] dark:bg-transparent"></div>
    </Fragment>
  </Features>

  <!-- Content Widget **************** -->

  <Content2
    title="Elevate your infrastructure"
    classes={{ headline: 'mt-20 lg:mt-24 xl:mt-28' }}
    items={[
      {
        title: 'Integrated Databases',
        description:
          'Fully automated PostgreSQL with seamless integrations for Redis, FerretDB, and Blob Storage. Spin up, back up, scale, and manage your databases without touching configs or the CLI.',
        link: '/solutions/database',
        image: {
          src: '~/assets/images/home/databases.png',
          alt: 'databases image',
        },
      },
      {
        title: 'Cutting-Edge Web Services',
        description:
          'Deploy any application or service in seconds with uncompromised security and stability. Enjoy seamless version control, dynamic scaling, and compatibility with any cloud host or your own hardware.',
        link: '/solutions/web-deploy',
        image: {
          src: '~/assets/images/home/web-services.png',
          alt: 'Cutting-edge web services',
        },
      },
      {
        title: 'Industry-Leading Security',
        description:
          'Manage critical security configurations effortlessly with our unified command center. Benefit from ubiquitous SSO, mesh networking, automated SSL, and flexible deployment options, all with dynamically updating permissions.',
        link: '/solutions/security',
        image: {
          src: '~/assets/images/home/security.png',
          alt: 'Industry-leading security features',
        },
      },
      {
        title: 'Machine Learning',
        description:
          'Accelerate your ML projects with our comprehensive development environment. Prepare data, host models, and manage pipelines seamlessly, integrating machine learning into your daily workflows.',
        link: '/solutions/ml',
      },
      {
        title: 'Advanced Operational Tools',
        description:
          'Empower your team with purpose-built tools for effortless monitoring and maintenance. Stay ahead of issues and optimize your software performance continuously.',
        link: '/solutions/sre_tools',
        image: {
          src: '~/assets/images/home/operational-tools.png',
          alt: 'Advanced operational tools',
        },
      },
    ]}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FAFAFA] dark:bg-transparent border-t">
      </div>
    </Fragment>
  </Content2>

  <InfoWidget
    title="The Power of Open Source"
    description="Batteries Included is built on a fully open-sourced stack, offering unmatched portability and the best-in-class technology without compromises. Our solutions adhere to industry standards out of the box, ensuring you can work and build the way you want, without being limited by your infrastructure."
  />
  <!-- Posts Widget ****************** -->
  <RecentPosts />
  <StartBuild />
</Layout>
