---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import BatteriesIncludedFor from '~/components/widgets/BatteriesIncludedFor.astro';
import Content2 from '~/components/widgets/Content2.astro';
import StartBuild from '~/components/widgets/StartBuild.astro';
import InfoWidget from '~/components/widgets/InfoWidget.astro';
import VideoModal from '~/components/widgets/VideoModal';
import Button from '~/components/ui/Button.astro';
import RecentPosts from '~/components/widgets/RecentPosts.astro';
import Image from '~/components/common/Image.astro';
export const prerender = true;

const metadata = {
  title: 'Artificial Intelligence',
};
---

<Layout metadata={metadata}>
  <Hero
    classes={{
      title: 'text-3xl md:text-[40px] md:leading-[50px]',
      containter: 'mx-auto max-w-[858px] pb-6 lg:pb-10',
    }}
    breadcrumbs={[
      { label: 'Home', link: '/' },
      { label: 'Artificial Intelligence', link: '/solutions/ai' },
    ]}>
    <Fragment slot="title"
      >Purpose-built AI tooling that evolves with you.</Fragment
    >
    <Fragment slot="content">
      All the tools you need to build and run your artificial intelligence
      projects, with none of the operational problems.
    </Fragment>
    <div
      class="mt-12 max-w-xs sm:max-w-md md:max-w-none m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
      <VideoModal url="https://youtu.be/8uY8dkFJ0gI" client:load>
        <button class="btn-fourth">
          <p class="flex-shrink-0">Watch the Demo</p>
          <Image
            width={32}
            height={32}
            src="~/assets/images/icons/play-circle.svg"
            alt="play circle"
          />
        </button>
      </VideoModal>
      <Button
        text="Get Started"
        variant="fifth"
        icon="aright"
        href="https://home.batteriesincl.com/signup"
        isLightIcon
      />
    </div>
  </Hero>

  <BatteriesIncludedFor
    section="AI"
    title="Accelerate your AI development"
    description="Batteries Included provides an integrated development environment to help your team get Artificial Intelligence projects off the ground faster, and with better results. Prepare data, host models, and manage pipelines with ease. Our environment makes it easy to integrate Artificial Intelligence projects into your team’s day-to-day, with space for notebooks, code, data, and more."
    video={{
      srcImage: '~/assets/images/solutions/ai/demo.png',
      url: 'https://youtu.be/8uY8dkFJ0gI',
    }}
  />

  <Content2
    title="With The Batteries Included"
    tagline="Artificial Intelligence"
    items={[
      {
        title: 'Notebooks: Included',
        description:
          'Launch JupyterLab inside our integrated development environment with the push of a button. Our out-of-the-box functionality includes managed notebooks for exploring data and building AI models, all through a simple user interface.',
        image: {
          src: '~/assets/images/solutions/ai/notebooks.png',
          alt: 'notebooks image',
        },
      },
      {
        title: 'Efficient Model Hosting',
        description:
          'Deploy and manage your AI models with ease. Our platform provides robust hosting solutions, including support for Ollama, ensuring your models are always accessible and performant.',
        image: {
          src: '~/assets/images/solutions/ai/ollama.png',
          alt: 'ollama image',
        },
      },
    ]}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FAFAFA] dark:bg-transparent border-t">
      </div>
    </Fragment>
  </Content2>

  <RecentPosts />
  <InfoWidget
    title="Why Open Source?"
    description="We built Batteries Included on a fully-open sourced stack to get you fully-portable, best-in-class technology without the pain. Our solutions are industry standard out of the box, ensuring you can work the way you want, and build the way you want, without being limited by your infrastructure."
  />
  <StartBuild />
</Layout>
