---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import BatteriesIncludedFor from '~/components/widgets/BatteriesIncludedFor.astro';
import Content2 from '~/components/widgets/Content2.astro';
import StartBuild from '~/components/widgets/StartBuild.astro';
import InfoWidget from '~/components/widgets/InfoWidget.astro';
import Button from '~/components/ui/Button.astro';
import VideoModal from '~/components/widgets/VideoModal';
import RecentPosts from '~/components/widgets/RecentPosts.astro';
import Image from '~/components/common/Image.astro';
export const prerender = true;

const metadata = {
  title: 'Data Storage',
};
---

<Layout metadata={metadata}>
  <Hero
    classes={{
      title: 'text-3xl md:text-[40px] md:leading-[50px]',
      containter: 'mx-auto max-w-[858px] pb-6 lg:pb-10',
    }}
    breadcrumbs={[
      { label: 'Home', link: '/' },
      { label: 'Database', link: '/solutions/database' },
    ]}>
    <Fragment slot="title"
      >Fully-Automated PostgreSQL That Works With Your Existing Stack</Fragment
    >
    <Fragment slot="content">
      Works With Your Existing Stack. Spin It Up, Back It Up, Scale it, Change
      It, Edit It - All Without Touching Any Config or CLI.
    </Fragment>
    <div
      class="mt-12 max-w-xs sm:max-w-md md:max-w-none m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
      <VideoModal url="https://www.youtube.com/embed/YbvkWja3VIQ" client:load>
        <button class="btn-fourth">
          <p class="flex-shrink-0">Watch the Demo</p>
          <Image
            width={32}
            height={32}
            src="~/assets/images/icons/play-circle.svg"
            alt="play circle"
          />
        </button>
      </VideoModal>
      <Button
        text="Get Started"
        variant="fifth"
        icon="aright"
        href="https://home-base.battery-traditional.webapp.13-59-225-158.batrsinc.co/signup"
        isLightIcon
      />
    </div>
  </Hero>

  <BatteriesIncludedFor
    section="Databases"
    title="Get The Best Relational Database System In Seconds"
    description="PostgreSQL is the industry-leading, most-trusted way to store SQL data, but implementation and management can be time consuming and painful. So we offer it as a fully-automated solution with integrations for every major database platform. Our platform automatically configures over 600 database fine tuning knobs to get you the best setup for your use case, with none of the pain. Batteries Included for:"
    tags={['Redis', 'FerretDB', 'Blob Storage']}
    video={{
      srcImage: '~/assets/images/solutions/database/demo.png',
      url: 'https://www.youtube.com/embed/YbvkWja3VIQ',
    }}
  />

  <Content2
    title="With The Batteries Included"
    tagline="PostgreSQL"
    items={[
      {
        title: 'Easy Deployment: Included',
        description:
          'With Batteries Included, it only takes a few seconds to launch and connect to a production-ready PostgreSQL database. Our dynamic configuration takes care of the heavy lifting and customization for you, so you can get back to shipping new projects quickly.',
        image: {
          src: '~/assets/images/solutions/database/easy-deployment.png',
          alt: 'easy deployment image',
        },
      },
      {
        title: 'Security: Included',
        description:
          'Add and remove users with ease, with automatic configurations that ensure access controls and secure integration across your databases and web apps. Learn more about how we keep your systems safe.',
        link: '/',
        image: {
          src: '~/assets/images/solutions/database/security.png',
          alt: 'security image',
        },
      },
      {
        title: 'Scaling: Included',
        description: `The platform includes deep automation making scaling your Database cluster horizontally or vertically a breeze. 
        Open source tools are seamlessly integrated together in a maintainable way to ensure your data is always available and on any cloud provider or your own Kubernetes cluster.`,
        image: {
          src: '~/assets/images/solutions/database/scaling.png',
          alt: 'scaling image',
        },
      },
      {
        title: 'Machine Learning',
        description: `Batteries Included provides easy-to-use vector databases and a suite of powerful tools, ready at the press of a button. 
        Our environment makes it easy to build machine learning projects using Ollama hosted models for text embedding generation. 
        The Kubernetes-based platform includes easy-to-use Jupyter notebooks with straightforward PGVector integration; keeping your data local and secure.`,
        image: {
          src: '~/assets/images/solutions/database/ml.png',
          alt: 'ml image',
        },
      },
    ]}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FAFAFA] dark:bg-transparent border-t">
      </div>
    </Fragment>
  </Content2>

  <RecentPosts />
  <InfoWidget
    title="Why Open Source?"
    description="We built Batteries Included on a fully-open sourced stack to get you fully-portable, best-in-class technology without the pain. Our solutions are industry standard out of the box, ensuring you can work the way you want, and build the way you want, without being limited by your infrastructure."
  />
  <StartBuild />
</Layout>
