---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import BatteriesIncludedFor from '~/components/widgets/BatteriesIncludedFor.astro';
import Content2 from '~/components/widgets/Content2.astro';
import StartBuild from '~/components/widgets/StartBuild.astro';
import InfoWidget from '~/components/widgets/InfoWidget.astro';
import VideoModal from '~/components/widgets/VideoModal';
import Button from '~/components/ui/Button.astro';
import RecentPosts from '~/components/widgets/RecentPosts.astro';
import Image from '~/components/common/Image.astro';
export const prerender = true;

const metadata = {
  title: 'Web Services',
};
---

<Layout metadata={metadata}>
  <Hero
    classes={{
      title: 'text-3xl md:text-[40px] md:leading-[50px]',
      containter: 'mx-auto max-w-[858px] pb-6 lg:pb-10',
    }}
    breadcrumbs={[
      { label: 'Home', link: '/' },
      { label: 'Web Services', link: '/solutions/web-deploy' },
    ]}>
    <Fragment slot="title"
      >Deploy web services at the speed of your users.</Fragment
    >
    <Fragment slot="content">
      Comprehensive tools to build, launch, and operate web services with
      stability and agility.
    </Fragment>
    <div
      class="mt-12 max-w-xs sm:max-w-md md:max-w-none m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
      <VideoModal
        url="https://www.youtube.com/embed/RVmMvNO2LUQ?si=8BakJI9Vot-whvKD"
        client:load>
        <button class="btn-fourth">
          <p class="flex-shrink-0">Watch the Demo</p>
          <Image
            width={32}
            height={32}
            src="~/assets/images/icons/play-circle.svg"
            alt="play circle"
          />
        </button>
      </VideoModal>
      <Button
        text="Get Started"
        variant="fifth"
        icon="aright"
        href="https://home.batteriesincl.com/signup"
        isLightIcon
      />
    </div>
  </Hero>

  <BatteriesIncludedFor
    section="Web Services"
    title="Get any web service running in seconds"
    description={[
      'Batteries Included provides all the tools you need to build and operate virtually any kind of application or service in seconds - without compromising on security or stability. Push out new versions without headaches, and dynamically scale up and down with usage. We’ve built our platform on industry-standard open source code, so you get all the benefits with none of the headaches.',
      'Batteries Included can work on any cloud provider, or your own computer.',
    ]}
    video={{
      srcImage: '~/assets/images/solutions/web-services/demo.png',
      url: 'https://www.youtube.com/embed/RVmMvNO2LUQ?si=8BakJI9Vot-whvKD',
    }}
  />

  <Content2
    title="With The Batteries Included"
    tagline="Web Services"
    items={[
      {
        title: 'Smooth Deployment: Included',
        description:
          'Ship new code fearlessly with our blue/green deployment system. Slow migration with constant health checks and monitoring ensures a flawless roll out every time.',
        image: {
          src: '~/assets/images/solutions/web-services/smooth-deployment.png',
          alt: 'smooth deployment image',
        },
      },
      {
        title: 'Automatic Scaling: Included',
        description:
          'We scale your services automatically based on usage, ensuring fast response times and preventing breakdowns while maintaining operational efficiency.',
        image: {
          src: '~/assets/images/solutions/web-services/scale-to-zero.png',
          alt: 'scale to zero image',
        },
      },
      {
        title: 'Cost-Savings: Included',
        description:
          'Automated scaling also means scaling down to conserve costs when services aren’t in use. Our intelligent, automatic configuration helps you avoid burning budget on compute, with average savings of 25-30%.',
      },
      {
        title: 'OAuth and SSO: Included',
        description:
          'Deploy SSO for anything - and replace third-party providers like Auth0 and Okta - with a single keystroke. Launch secure web apps without a single line of code.',
        image: {
          src: '~/assets/images/solutions/web-services/oauth-security.png',
          alt: 'oauth security image',
        },
      },
      {
        title: 'Dynamic Security: Included',
        description:
          'Our automated SSL solution powers secure, streamlined security, with easily configured permissions across web services and databases. Get new SSL certs, correctly set up and kept up to date, without the headache. Powered by cert-manager and Let’s Encrypt.',
        image: {
          src: '~/assets/images/solutions/web-services/dynamic-security.png',
          alt: 'dynamic security image',
        },
      },
      {
        title: 'Work With Any Cloud: Included',
        description:
          'Run your services however you want, wherever you want. With our flexible solutions, you can choose the best option for your use case - whether you want to use AWS, Azure, Google Cloud, or your own Kubernetes cluster. From private cloud to on-premises, the world is your oyster.',
        image: {
          src: '~/assets/images/solutions/web-services/work-with-any-cloud.jpg',
          alt: 'work with any cloud image',
        },
      },
    ]}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-[#FAFAFA] dark:bg-transparent border-t">
      </div>
    </Fragment>
  </Content2>

  <RecentPosts />
  <InfoWidget
    title="Access best-in-class open source technologies, expertise not required"
    description="Batteries Included is built on a fully open-sourced stack, offering unmatched portability and the best-in-class technology without compromises. Our solutions adhere to industry standards out of the box, ensuring you can work and build the way you want, without being limited by your infrastructure."
    link="/posts/open-source-payoff" />
  <StartBuild />
</Layout>
