<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link phx-track-static rel="stylesheet" href="/static/styles.css" />
    <title>Batteries Included Paste</title>
  </head>
  <body
    class="antialiased h-full min-h-screen w-full text-gray-700 bg-gradient-to-b from-astral-500">
    <div
      class="lg:max-w-4xl max-w-lg flex flex-col mx-auto my-10 rounded-lg bg-white p-10 shadow-sm">
      {% block content %} {% endblock content %}
    </div>
  </body>
</html>
