{% extends "base.html" %}

<!-- Start Content -->
{% block content %}
<article class="flex flex-col gap-y-6">
  {% block header %}
  <header class="text-center">
    <dl>
      <div>
        <dt class="sr-only">Published on</dt>
        <dd class="text-base font-medium leading-6 text-gray-500">
          <time>{{ page.date | date(format="%F") }}</time>
        </dd>
      </div>
    </dl>

    <h1 class="text-pink-500 text-5xl font-extrabold leading-8">
      {{ page.title | markdown | striptags }}
    </h1>
    {% endblock header %}
  </header>

  <section id="article" class="prose lg:prose-lg mx-auto mt-10">
    {{ page.content | safe }}
  </section>
</article>
{%- endblock content %}
