<main role="main" class="h-full min-h-screen">
  <.flash_group flash={@flash} global />

  <.alert
    type="fixed"
    variant="disconnected"
    phx-connected={hide_alert()}
    phx-disconnected={show_alert()}
    autoshow={false}
  />

  {@inner_content}
</main>
