<table class="table table-borderless" id="services-usage">
  <thead>
    <tr>
      <th>Metric</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Nodes In Use</th>
      <td>400</td>
    </tr>
    <tr>
      <th>Usage Tier</th>
      <td>Gold</td>
    </tr>
  </tbody>
</table>
