---
import Headline from '~/components/ui/Headline.astro';
import ButtonLink from '~/components/widgets/ButtonLink.astro';
import WidgetWrapper from '../ui/WidgetWrapper.astro';

interface Props {
  title: string;
  description: string;
  link?: string;
}

const { title, description, link = '/' } = Astro.props;
---

<WidgetWrapper>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-[#FAFAFA] dark:bg-transparent border-none">
    </div>
  </Fragment>
  <div class="p-8 lg:p-16 border rounded-2xl text-center lg:text-left">
    <div
      class="flex flex-col lg:flex-row gap-y-8 lg:items-start lg:gap-x-12 items-center justify-between">
      <div>
        <Headline
          title={title}
          classes={{ container: 'text-center lg:text-left max-w-3xl' }}
        />
      </div>
      <div class="hidden lg:block flex-shrink-0">
        <ButtonLink label="Learn More" link={link} variant="secondary" />
      </div>
    </div>
    <div class="mt-6">
      <div class="mx-auto max-w-screen-md lg:max-w-none">
        <p class="lg:text-lg">
          {description}
        </p>
        <div class="text-center mt-6 lg:hidden">
          <ButtonLink label="Learn More" link={link} variant="secondary" />
        </div>
      </div>
    </div>
  </div>
</WidgetWrapper>
