---
name: BIX General

'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

# No Permissions by default
permissions: {}

jobs:
  check-fmt:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
        with:
          persist-credentials: false

      - name: Setup CI
        uses: ./.github/actions/setup-ci
        with:
          go_cache: 'false'

      - name: Check FMT via bin/bix
        run: bin/bix source check-fmt

  misc-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
        with:
          persist-credentials: false

      - name: Setup ASDF
        uses: ./.github/actions/setup-asdf

      - name: Run actionlint
        if: always()
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          actionlint -color

      - name: Run yamllint
        if: always()
        run: yamllint -f github .github
