name: BIX Elixir

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  ASDF_BRANCH: v0.15.0

# No Permissions by default
permissions: {}

jobs:
  elixir-test:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: battery-local-user
          POSTGRES_PASSWORD: 'batterypasswd'
        options: >-
          --health-cmd pg_isready --health-interval 10s --health-timeout 5s
          --health-retries 5
        ports: ['5432:5432']
    env:
      POSTGRES_HOST: localhost
      POSTGRES_USER: battery-local-user
      POSTGRES_PASSWORD: 'batterypasswd'

    # Elixir test reports the test results to GitHub
    # So we need to be able to write to the checks
    # while reading the results of other actions.
    permissions:
      contents: read
      actions: read
      checks: write
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup ASDF
        uses: asdf-vm/actions/setup@v3
        with:
          asdf_branch: ${{ env.ASDF_BRANCH }}
      - name: Cache ASDF
        uses: actions/cache@v4
        id: asdf-cache
        with:
          # https://github.com/asdf-vm/asdf/blob/master/.gitignore
          path: |
            ~/.asdf/installs
            ~/.asdf/plugins
            ~/.asdf/shims
          key: ${{ runner.os }}-asdf-tools-${{ hashFiles('.tool-versions') }}

      - name: Install ASDF Tools
        uses: asdf-vm/actions/install@v3
        # See https://github.com/asdf-vm/actions/issues/445
        if: ${{ steps.asdf-cache.outputs.cache-hit != 'true' }}
        with:
          asdf_branch: ${{ env.ASDF_BRANCH }}
      - name: Reshim ASDF
        shell: bash
        run: asdf reshim
      - name: Cache Elixir Deps
        uses: actions/cache@v4
        id: dialyzer-cache
        with:
          path: |
            platform_umbrella/deps
            platform_umbrella/_build
          key:
            ${{ runner.os }}-test-deep-${{ hashFiles('**/mix.lock',
            '.tool-versions') }}
          restore-keys: |
            ${{ runner.os }}-test-deep-
      - name: Run deep test
        run: bin/bix --no-forward ex-test-deep
      - name: Test Report
        uses: dorny/test-reporter@v2
        if: ${{github.actor != 'dependabot[bot]' &&  (success() || failure())}}
        with:
          name: Mix Test Results
          path: platform_umbrella/_build/**/test-junit-report.xml
          reporter: java-junit

  elixir-credo:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup ASDF
        uses: asdf-vm/actions/setup@v3
        with:
          asdf_branch: ${{ env.ASDF_BRANCH }}
      - name: Cache ASDF
        uses: actions/cache@v4
        id: asdf-cache
        with:
          # https://github.com/asdf-vm/asdf/blob/master/.gitignore
          path: |
            ~/.asdf/installs
            ~/.asdf/plugins
            ~/.asdf/shims
          key: ${{ runner.os }}-asdf-tools-${{ hashFiles('.tool-versions') }}

      - name: Install ASDF Tools
        uses: asdf-vm/actions/install@v3
        # See https://github.com/asdf-vm/actions/issues/445
        if: ${{ steps.asdf-cache.outputs.cache-hit != 'true' }}
        with:
          asdf_branch: ${{ env.ASDF_BRANCH }}

      - name: Reshim ASDF
        shell: bash
        run: asdf reshim
      - name: Cache Elixir Deps
        uses: actions/cache@v4
        id: dialyzer-cache
        with:
          path: |
            platform_umbrella/deps
            platform_umbrella/_build
          key:
            ${{ runner.os }}-credo-${{ hashFiles('**/mix.lock',
            '.tool-versions') }}
          restore-keys: |
            ${{ runner.os }}-credo-
      - name: Credo Code Analysis
        run: bin/bix ex-credo

  elixir-dialyzer:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup ASDF
        uses: asdf-vm/actions/setup@v3
        with:
          asdf_branch: ${{ env.ASDF_BRANCH }}
      - name: Cache ASDF
        uses: actions/cache@v4
        id: asdf-cache
        with:
          # https://github.com/asdf-vm/asdf/blob/master/.gitignore
          path: |
            ~/.asdf/installs
            ~/.asdf/plugins
            ~/.asdf/shims
          key: ${{ runner.os }}-asdf-tools-${{ hashFiles('.tool-versions') }}
          restore-keys: ${{ runner.os }}-asdf-tools-

      - name: Install ASDF Tools
        uses: asdf-vm/actions/install@v3
        # See https://github.com/asdf-vm/actions/issues/445
        if: ${{ steps.asdf-cache.outputs.cache-hit != 'true' }}
        with:
          asdf_branch: ${{ env.ASDF_BRANCH }}

      - name: Reshim ASDF
        shell: bash
        run: asdf reshim

      - name: Cache Elixir Deps
        uses: actions/cache@v4
        id: dialyzer-cache
        with:
          path: |
            platform_umbrella/deps
            platform_umbrella/_build
            platform_umbrella/.dialyzer
          key:
            ${{ runner.os }}-dialyzer-${{ hashFiles('**/mix.lock',
            '.tool-versions') }}
          restore-keys: |
            ${{ runner.os }}-dialyzer-

      - name: Dialyzer Type Analysis
        run: bin/bix ex-dialyzer
