---
name: BIX Golang

'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env: ${{ vars }}

# No Permissions by default
permissions: {}

jobs:
  go-test:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
        with:
          persist-credentials: false

      - name: Setup CI
        uses: ./.github/actions/setup-ci

      - name: Run go test
        run: bin/bix go test

  go-int-test:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
        with:
          persist-credentials: false

      - name: Setup CI
        uses: ./.github/actions/setup-ci

      - name: Run go integration test
        run: bin/bix go int-test

  bi-build:
    runs-on: ubuntu-latest-m
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
        with:
          persist-credentials: false

      - name: Setup CI
        uses: ./.github/actions/setup-ci

      - name: Build bi (quick)
        if: ${{ github.ref != 'refs/heads/master' }}
        run: bin/bix go bi-snapshot-build

      - name: Build bi
        if: ${{ github.ref == 'refs/heads/master' }}
        run: bin/bix go bi-snapshot-release
