---
name: BIX Registry Update

'on':
  # Run every night at 1 AM UTC
  schedule:
    - cron: '0 1 * * *'
  # Allow manual triggering
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  packages: read

defaults:
  run:
    shell: bash

env: ${{ vars }}

jobs:
  update-registry:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
        with:
          # Need full history and token for creating PRs
          token: ${{ secrets.REGISTRY_BOT_PAT }}
          fetch-depth: 0

      - name: Setup CI
        uses: ./.github/actions/setup-ci
        with:
          reg_tool_cache: true

      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Ensure registry-tool
        run: bin/bix go ensure-registry-tool

      - name: Update registry and create PR
        run: bin/bix registry create-pr
        env:
          GITHUB_TOKEN: ${{ secrets.REGISTRY_BOT_PAT }}
