---
name: BIX Registry Update

'on':
  # Run every night at 1 AM UTC
  schedule:
    - cron: '0 1 * * *'
  # Allow manual triggering
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

defaults:
  run:
    shell: bash

env: ${{ vars }}

jobs:
  update-registry:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          # Need full history and token for creating PRs
          token: ${{ secrets.REGISTRY_BOT_PAT }}
          fetch-depth: 0

      - name: Setup CI
        uses: ./.github/actions/setup-ci

      - name: Update registry and create PR
        run: bin/bix registry create-pr
        env:
          GITHUB_TOKEN: ${{ secrets.REGISTRY_BOT_PAT }}
