name: BIX Golang

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  GOCACHE: /home/runner/.cache/go-cache
  GOMODCACHE: /home/runner/.cache/go-mod

jobs:
  bi-build:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - name: Setup ASDF
        uses: asdf-vm/actions/setup@v3
      - name: Cache ASDF
        uses: actions/cache@v4
        id: asdf-cache
        with:
          # https://github.com/asdf-vm/asdf/blob/master/.gitignore
          path: |
            ~/.asdf/installs
            ~/.asdf/plugins
            ~/.asdf/shims
          key: ${{ runner.os }}-asdf-tools-${{ hashFiles('.tool-versions') }}
          restore-keys: ${{ runner.os }}-asdf-tools-

      - name: Install ASDF Tools
        uses: asdf-vm/actions/install@v3
        # See https://github.com/asdf-vm/actions/issues/445
        if: ${{ steps.asdf-cache.outputs.cache-hit != 'true' }}
        with:
          asdf_branch: v0.14.0

      - name: Reshim ASDF
        shell: bash
        run: asdf reshim

      - name: Setup Go cache
        uses: actions/cache@v4
        with:
          path: |
            ${{ env.GOCACHE }}
            ${{ env.GOMODCACHE }}
          key:
            ${{ runner.os }}-go-build-${{ hashFiles('**/go.sum',
            '.tool-versions') }}
          restore-keys: |
            ${{ runner.os }}-go-build-

      - name: Build bi
        run: bin/bix go-build-bi

      - run: cat /home/runner/out.log
