---
name: Build and push image

'on':
  workflow_dispatch:
    inputs:
      target:
        description: The upstream image to build from
        required: true
        type: string

      version:
        description: The upstream version to build from
        required: true
        type: string

permissions:
  id-token: write
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
        with:
          persist-credentials: false

      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup ASDF
        uses: ./.github/actions/setup-asdf

      - name: Build image
        run:
          bin/bix docker build-image ${{ inputs.target }} ${{ inputs.version }}

      - name: Push image
        run:
          bin/bix docker push-image ${{ inputs.target }} ${{ inputs.version }}
