---
name: Integration tests

'on':
  workflow_call:
    inputs:
      bi-image-artifact-id:
        description: 'The ID of the uploaded bi image artifact'
        required: true
        type: string
      bi-image-artifact-name:
        description: 'The name of the uploaded bi image artifact'
        required: true
        type: string
      version:
        description: 'The version to test'
        required: true
        type: string

env:
  VERSION_OVERRIDE: ${{ inputs.version }}

jobs:
  save-images:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
        with:
          persist-credentials: false

      - name: Setup ASDF
        uses: ./.github/actions/setup-asdf

      - name: Load cached base images
        uses: ./.github/actions/restore-images
        with:
          file: base_images.tar

      - name: Load pre-built bi images
        uses: ./.github/actions/restore-images
        with:
          file: bi_images.tar
          artifact-id: ${{ inputs.bi-image-artifact-id }}
          artifact-name: ${{ inputs.bi-image-artifact-name }}

      - name: Save images to archive
        run: bin/bix registry save-int-images "${{ runner.temp }}/images.tar"

      - name: Upload image archive
        id: upload-archive
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
        with:
          name: img-tar-${{ github.run_id }}
          overwrite: true
          retention-days: 1
          if-no-files-found: error
          path: '${{ runner.temp }}/images.tar'

    outputs:
      artifact-id: ${{ steps.upload-archive.outputs.artifact-id }}
      artifact-name: img-tar-${{ github.run_id }}

  elixir-int-test:
    runs-on: ubuntu-latest-l
    needs: save-images
    timeout-minutes: 45
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        partition: [1, 2, 3, 4, 5]
        num_partitions: [5]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
        with:
          persist-credentials: false

      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v5
        with:
          artifact-ids: ${{ needs.save-images.outputs.artifact-id }}
          path: ${{ runner.temp }}

      - name: Setup CI
        uses: ./.github/actions/setup-ci
        with:
          bi_cache: true
          elixir_cache: true
          go_cache: false

      - name: Run integration tests
        env:
          MIX_TEST_PARTITION: ${{ matrix.partition }}
          BI_IMAGE_TAR: ${{ runner.temp }}/images.tar
        run: |
          bin/bix go ensure-bi
          bin/bix elixir int-test --partitions=${{ matrix.num_partitions }}

      - name: Upload results on failure
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v4
        with:
          name:
            int-test-${{ matrix.partition }}-${{ github.run_id }}-${{
            github.run_attempt }}
          retention-days: 5
          path: |
            /tmp/bi-int-test/
