name: Release

on:
  push:
    # Only release on tags that look like a semantic version
    # 1.0.0 of 0.50.0
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'

permissions:
  contents: write

env:
  GOCACHE: /home/runner/.cache/go-cache
  GOMODCACHE: /home/runner/.cache/go-mod

jobs:
  release:
    runs-on: ubuntu-latest-m
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4

      - name: Setup ASDF
        uses: asdf-vm/actions/setup@v3

      - name: Cache ASDF
        uses: actions/cache@v4
        id: asdf-cache
        with:
          # https://github.com/asdf-vm/asdf/blob/master/.gitignore
          path: |
            ~/.asdf/installs
            ~/.asdf/plugins
            ~/.asdf/shims
          key: ${{ runner.os }}-asdf-tools-${{ hashFiles('.tool-versions') }}

      - name: Install ASDF Tools
        uses: asdf-vm/actions/install@v3
        # See https://github.com/asdf-vm/actions/issues/445
        if: ${{ steps.asdf-cache.outputs.cache-hit != 'true' }}
        with:
          asdf_branch: v0.14.1

      - name: Reshim ASDF
        shell: bash
        run: asdf reshim

      - name: Setup Go cache
        uses: actions/cache@v4
        with:
          path: |
            ${{ env.GOCACHE }}
            ${{ env.GOMODCACHE }}
          key:
            ${{ runner.os }}-go-build-${{ hashFiles('**/go.sum',
            '.tool-versions') }}
          restore-keys: |
            ${{ runner.os }}-go-build-

      - name: Release
        run: goreleaser release --clean --verbose -p 1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
