---
name: Release

'on':
  push:
    # Only release on tags that look like a semantic version
    # 1.0.0 of 0.50.0
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'

env: ${{ vars }}

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest-m
    timeout-minutes: 65
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
        # See: https://goreleaser.com/errors/no-history/
        # Leading to: https://goreleaser.com/ci/actions/#workflow
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup CI
        uses: ./.github/actions/setup-ci

      - name: Release
        run: goreleaser release --clean --verbose -p 1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
