$sidebar-size: 270px;
.sidebar {
  $sidebar-dark-background: mix(black, $indigo, 10%);

  width: $sidebar-size;
  height: 100vh;
  position: fixed;

  .nav-link {
    color: $gray-500;
    .icon {
      margin-top: 0.3em;
    }
  }

  // There are two icons. Show and hide the correct
  // one on collapsing or showing the inner submenu
  .nav-link[aria-expanded="false"] {
    .down {
      display: none;
    }
    .up {
      float: right;
      display: block;
    }
  }
  .nav-link[aria-expanded="true"] {
    .down {
      float: right;
      display: block;
    }
    .up {
      display: none;
    }
  }

  // There's a pink border when submenus are open
  .nav-link[aria-expanded="true"],
  nav nav.show,
  nav nav.collapsing {
    border: 10px solid $pink;
    border-width: 0px 0px 0px 8px;
  }

  // Subtle hover effect.
  .nav-link:hover {
    color: $gray-100;
    background-color: $sidebar-dark-background;
  }

  // This is the current link
  .nav-link.active {
    color: $gray-100;
  }
}
