/* This file is for your main application css. */
$pink: #fc408a;
$teal: #22a4b6;
$green: #af9e15;
$orange: #ec7d18;
$indigo: #06293f;
$blue: #377af7;

$primary: $pink;
$secondary: $teal;

$font-size-base: 1.1rem;

$dark: $indigo;

$sidebar-size: 300px;

$enable-shadows: true;
$enable-gradients: true;

@import "bootstrap/scss/bootstrap";
@import "nprogress/nprogress";

body {
  min-height: 100vh;
}

.sidebar {
  width: $sidebar-size;
  height: 100vh;
  position: fixed;

  nav nav {
    background-color: darken($indigo, 5%);
    margin-left: 1.5rem;

    .nav-item {
      background-color: darken($indigo, 5%);
    }
  }

  .nav-link[data-bs-toggle].collapsed:after {
    content: " ▾";
  }
  .nav-link[data-bs-toggle]:not(.collapsed):after {
    content: " ▴";
  }
}

main {
  margin-left: $sidebar-size;
}

#services-install {
  .running-icon {
    width: 2rem;
    height: 2rem;
  }

  .running-icon.running {
    color: $teal;
  }

  .running-icon.not-running {
    color: $gray-700;
  }
}

.icon.small {
  width: 1rem;
  height: 1rem;
}
