/* This file is for your main application css. */
$pink: #fc408a;
$teal: #22a4b6;
$green: #af9e15;
$orange: #ec7d18;
$indigo: #7164f8;
$blue: #377af7;

$primary: $pink;
$secondary: $teal;

$font-size-base: 1.1rem;



@import "bootstrap/scss/bootstrap";
@import "nprogress/nprogress";

main {
  margin-top: 1rem;
}
.alert:empty {
  display: none;
}
