/* This file is for your main application css. */
$pink: #fc408a;
$teal: #22a4b6;
$green: #af9e15;
$orange: #ec7d18;
$indigo: #06293f;
$blue: #377af7;

$primary: $pink;
$secondary: $teal;

$font-size-base: 1.1rem;

$dark: $indigo;

$enable-shadows: true;
$border-radius: 0.4em;

@import "bootstrap/scss/bootstrap";
@import "nprogress/nprogress";
@import "sidebar";

body {
  min-height: 100vh;
}

// Have to move the main over
main {
  margin-left: $sidebar-size;
}

#services-install {
  .running-icon {
    width: 2rem;
    height: 2rem;
  }

  .running-icon.running {
    color: $teal;
  }

  .running-icon.not-running {
    color: $gray-700;
  }
}

#services-install .serviceName {
  text-transform: capitalize;
}

.icon.small {
  width: 1rem;
  height: 1rem;
}

.sparkline {
  height: 32px;
  width: 100%;
  max-width: 300px;
}
